.text-default {
	color: white;
}

.mypic {
	text-align: center;
}

.socialbtns {
	padding: 5px;
}

.navbar {
	margin-bottom: 0;
}

.navbar-nav {
   float: none;
   margin: 0;
   margin-left: 40%;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.social-link {
  color: black;
}

.bg {
    margin-bottom: 0px;
    background-image: url('../resources/backgroundjumbo.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-jumbo {
  background-color: #dddddd;
}

.jumbo-text {
  text-shadow: 2px 2px #aaaaaa;
}

.project-images {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
  text-align: center;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin: auto;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 400px;
}

.cpation {
  display: block;
}

.project-item {
  background-color: #cccccf;
  margin: 15px;
  padding-bottom: 20px;
  display: inline-block;
  text-align: center;
  width: 400px;
}

.project-text {
  min-height: 200px;
}

.contact-form {
  padding-top: 100px;
}

.section-headers {
  padding-bottom: 40px;
}

.table td, th {
   text-align: center;   
}

.table {
  table-layout: fixed;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }